@if (link(); as routerCommands) {
  <a class="photo-card" [routerLink]="routerCommands">
    <ng-container [ngTemplateOutlet]="cardBody" />
  </a>
} @else {
  <button
    type="button"
    class="photo-card"
    [class.photo-card-favorite]="isFavorite()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-disabled]="isUnavailable() ? 'true' : null"
    (click)="handleItemClick()"
  >
    <ng-container [ngTemplateOutlet]="cardBody" />
  </button>
}

<ng-template #cardBody>
  <div class="thumbnail-wrapper">
    @if (isFavorite()) {
      <span class="favorite-badge">
        <mat-icon aria-hidden="true" fontIcon="favorite"></mat-icon>
      </span>
    }
    <img
      [ngSrc]="photo().id"
      fill
      ngSrcset="200w, 400w, 600w"
      sizes="200px"
      [priority]="priority()"
      placeholder
      [loaderParams]="imageLoaderParams"
      [alt]="altText()"
      class="thumbnail-img"
    />
  </div>
  <div class="card-details">
    <span class="author-name">{{ photo().author }}</span>
    <span class="dimensions-meta" role="img" [attr.aria-label]="dimensionsLabel()">{{
      dimensionsText()
    }}</span>
  </div>
</ng-template>
