<button
  type="button"
  class="photo-card"
  [attr.aria-label]="favoriteLabel()"
  (click)="handleItemClick()"
>
  <div class="thumbnail-wrapper">
    <img
      [ngSrc]="photo().id"
      fill
      ngSrcset="200w, 400w, 600w"
      sizes="200px"
      [priority]="priority()"
      placeholder
      [alt]="altText()"
      class="thumbnail-img"
    />
  </div>
  <div class="card-details">
    <span class="author-name">{{ photo().author }}</span>
    <span class="dimensions-meta">{{ dimensionsText() }}</span>
  </div>
</button>
